﻿@model List<string>

@foreach (var category in Model)
{
    <li>@Html.ActionLink(category, "ByCategory", "Component", new { id = category }, new { @class = "btn btn-block btn-default btn-lg" })</li>
}