﻿@model List<EmbeddedStockAdmin.Web.Models.ComponentSummaryViewModel>
@using EmbeddedStockAdmin.Web.Models;

<h2>Search Results</h2>

@if (Model == null || Model.Count == 0)
{
    <h4>No components found. Search engine only supporting component categories for the moment.</h4>
}
else
{
    @Html.Partial("~/Views/Component/_Components.cshtml", Model);
}

@*Include modal html*@
@Html.Partial("~/Views/Component/_CreateComponentModelModal.cshtml", new ComponentModelViewModel())
@Html.Partial("~/Views/Component/_DeleteComponentModelModal.cshtml", null)