﻿@model List<EmbeddedStockAdmin.Web.Models.ComponentSummaryViewModel>

@foreach (var componentModel in Model)
{
    <div>
        @Html.Partial("~/Views/Component/_ComponentSummary.cshtml", componentModel)
    </div>
}

@Html.Partial("~/Views/Component/_CRUDComponentsModal.cshtml", null)
@Html.Partial("~/Views/Component/_ComponentModelDetailsModal.cshtml", null)
@Html.Partial("~/Views/Component/_UpdateComponentModelModal.cshtml", null)