﻿@*Add component modal*@
<div id="detailsComponent" class="modal fade" role="dialog">
    <div class="modal-dialog">
        @*Modal content*@
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Details</h4>
            </div>
            <div class="modal-body">
                @Html.Hidden("ComponentDetails")
                <div id="detailspartial"></div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>