﻿@model EmbeddedStockAdmin.Web.Models.ComponentViewModel
@{ 
    string disabled = Model.IsLoaned ? "disabled" : null;
    string displayString = disabled == null ? "Loan" : "Loaned!";
}
<div class="row" id="componentrow-id-@Model.ComponentId">
    <div class="col-xs-1"> 
        <h4 id="component-display-@Model.ComponentId"> #@Model.ComponentNbr</h4>
    </div>
    <div class="col-xs-10 btn-group">
        <button type="button" id="component-id-@Model.ComponentId" class="btn btn-warning component" data-id="@Model.ComponentId" data-nbr="@Model.ComponentNbr" onclick="setComponentIdAndNbrOnModalEdit(this)" data-toggle="modal" data-target="#editComponent">Edit</button>
        <button type="button" class="btn btn-danger component" onclick="setComponentIdOnModal(@Model.ComponentId)" data-toggle="modal" data-target="#deleteComponent">Delete</button>
        <button type="button" id="loan-btn-id-@Model.ComponentId" class="btn btn-primary component" onclick="setComponentIdOnLoanModal(@Model.ComponentId)" data-toggle="modal" data-target="#loanComponent" @disabled>@displayString</button>
    </div>
</div>