﻿@model EmbeddedStockAdmin.Web.Models.ComponentSummaryViewModel

<div class="well">
    <div class="row">
        <div class="col-xs-3"> <h3>@Model.ComponentName</h3> </div>
        <div class="col-xs-3"> <h3>Category: <b>@Model.Category</b> </h3> </div>
        <div class="col-xs-5 btn-group pull-right">
            @*Trigger the modal with a button*@
            <button type="button" class="btn btn-success" onclick="setComponentModelIdOnModal(@Model.ComponentModelId)" data-toggle="modal" data-target="#addComponent">Add</button>
            <button type="button" onclick="getComponentModel(@Model.ComponentModelId)" class="btn btn-warning">Edit</button>
            <button type="button" class="btn btn-danger" onclick="setComponentIdOnDeleteModal(@Model.ComponentModelId)" data-toggle="modal" data-target="#deleteComponentModel">Delete</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5">
            <a href="#components-@Model.ComponentModelId" class="btn btn-info" data-toggle="collapse">View components</a>
            <br />
            <br />
            <div id="components-@Model.ComponentModelId" class="collapse">
                <div id="components-@Model.ComponentModelId">
                    @foreach (var component in Model.Components)
                    {
                        @Html.Partial("~/Views/Component/_ComponentModal.cshtml", component)
                    }
                </div>
            </div>
        </div>
        <div class="col-xs-5">
            <button type="button" class="btn btn-default btn-lg pull-right" onclick="getDetails(@Model.ComponentModelId)">Details</button>
        </div>
    </div>
</div>