﻿@model EmbeddedStockAdmin.Web.Models.ComponentModelDetailsViewModel

<div class="form-group col-md-6 col-xs-12">
    <div>
        <h3>Serial number</h3>
        <p> @Model.SerialNbr </p>
    </div>
</div>
<div class="form-group col-md-6 col-xs-12">
    <div>
        <h3>Component name</h3>
        <p> @Model.ComponentName </p>
    </div>
</div>
<div class="form-group col-md-6 col-xs-12">
    <div>
        <h3>Category</h3>
        <p> @Model.Category </p>
    </div>
</div>
<div class="form-group col-md-6 col-xs-12">
    <div>
        <h3>Datasheet</h3>
        <a href="@Model.Datasheet">Link to datasheet</a>
    </div>
</div>
<div class="form-group col-md-6 col-xs-12">
    <div>
        <h3>Manufacturer</h3>
        <a href="@Model.ManufacturerLink">Manufacturer link</a>
    </div>
</div>
<div class="form-group col-md-6 col-xs-12">
    <div>
        <h3>Commment (Admin)</h3>
        <p> @Model.AdminComment </p>
    </div>
</div>
<div class="form-group col-md-6 col-xs-12">
    <div>
        <h3>Commment (User)</h3>
        <p> @Model.UserComment </p>
    </div>
</div>
<div class="form-group">
    <div class="col-xs-12">
        <h3>Image</h3>
        @*<img src="pic_mountain.jpg" alt="Mountain View" style="width:304px;height:228px;">*@
    </div>
</div>
