﻿@model EmbeddedStockAdmin.Web.Models.ComponentModelViewModel

<div id="addComponentModel" class="modal fade" role="dialog">
    <div class="modal-dialog">
        @*Modal content*@
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Component Model</h4>
            </div>
            <div class="modal-body">
                @*Triggers ajax-call*@
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "addcomponentmodel-form" }))
                {
                    <div class="form-group col-md-6 col-xs-12">
                        <div>
                            @Html.LabelFor(m => Model.SerialNbr)
                        </div>
                        <div>
                            @Html.TextBoxFor(m => Model.SerialNbr, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-xs-12">
                        <div>
                            @Html.LabelFor(m => Model.ComponentName)
                        </div>
                        <div>
                            @Html.TextBoxFor(m => Model.ComponentName, new { @class = "form-control" })
                        </div>
                    </div>
                        <div class="form-group col-md-6 col-xs-12">
                            <div>
                                @Html.LabelFor(m => Model.Category)
                            </div>
                            <div>
                                @Html.TextBoxFor(m => Model.Category, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-xs-12">
                            <div>
                                @Html.LabelFor(m => Model.Datasheet)
                            </div>
                            <div>
                                @Html.TextBoxFor(m => Model.Datasheet, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-xs-12">
                            <div>
                                @Html.LabelFor(m => Model.ManufacturerLink)
                            </div>
                            <div>
                                @Html.TextBoxFor(m => Model.ManufacturerLink, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-xs-12">
                            <div>
                                @Html.LabelFor(m => Model.AdminComment)
                            </div>
                            <div>
                                @Html.TextAreaFor(m => Model.AdminComment, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-xs-12">
                            <div>
                                @Html.LabelFor(m => Model.UserComment)
                            </div>
                            <div>
                                @Html.TextAreaFor(m => Model.UserComment, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                @Html.LabelFor(m => Model.Image)
                            </div>
                        </div>
                        <input type="submit" value="Add new component model" class="btn btn-success component-submit" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                }
            </div>
        </div>
    </div>
</div>