﻿@*Inspired from: http://www.w3schools.com/bootstrap/bootstrap_modal.asp*@
@*Modals*@
@*Add component modal*@
<div id="addComponent" class="modal fade" role="dialog">
    <div class="modal-dialog">
        @*Modal content*@
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add new component</h4>
            </div>
            <div class="modal-body">
                @*Triggers ajax-call*@
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "addcomponent-form" }))
                {
                    @*For component model id*@
                    @Html.Hidden("ComponentModelId");
                    @Html.Label("Component number");
                    @Html.Editor("ComponentNbr");
                    <input type="submit" value="Add" class="btn btn-success component-submit" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                }
            </div>
        </div>
    </div>
</div>

@*Delete component modal*@
<div id="deleteComponent" class="modal fade" role="dialog">
    <div class="modal-dialog">
        @*Modal content*@
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete component</h4>
            </div>
            <div class="modal-body">
                <h3>Are you sure you want to delete this component?</h3>
                @*Triggers ajax-call*@
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "deletecomponent-form" }))
                {
                    @*For component model id*@
                    @Html.Hidden("ComponentId");
                    <input type="submit" value="Delete" class="btn btn-danger component-submit" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                }
            </div>
        </div>
    </div>
</div>

@*Edit component modal*@
<div id="editComponent" class="modal fade" role="dialog">
    <div class="modal-dialog">
        @*Modal content*@
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit component</h4>
            </div>
            <div class="modal-body">
                @*Triggers ajax-call*@
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "editcomponent-form" }))
                {
                    @*For component model id*@
                    @Html.Hidden("EditComponentId");
                    @Html.Label("Edit component number");
                    @Html.Editor("EditComponentNbr");
                    <input type="submit" value="Edit" class="btn btn-warning component-submit" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                }
            </div>
        </div>
    </div>
</div>

@*Loan component modal*@
<div id="loanComponent" class="modal fade" role="dialog">
    <div class="modal-dialog">
        @*Modal content*@
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Loan component</h4>
            </div>
            <div class="modal-body">
                @*Triggers ajax-call*@
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "loancomponent-form" }))
                {
                    @*For component model id*@
                    @Html.Hidden("LoanComponentId");
                    <div class="form-group col-md-6 col-xs-12">
                        <div>
                            @Html.Label("Student number")
                        </div>
                        <div>
                            @Html.TextBox("StudentNbr", null, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-xs-12">
                        <div>
                            @Html.Label("Student name")
                        </div>
                        <div>
                            @Html.TextBox("Name", null, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-xs-12">
                        <div>
                            @Html.Label("Phone number")
                        </div>
                        <div>
                            @Html.TextBox("PhoneNbr", null, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-xs-12">
                        <div>
                            @Html.Label("Return date")
                        </div>
                        <div>
                            @Html.TextBox("ReturnDate", DateTime.Now.AddMonths(3).ToString("yyyy-MM-dd"), new { @class = "form -control", @type = "date" })
                        </div>
                    </div>
                    <input type="submit" value="Loan" class="btn btn-primary component-submit" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                }
            </div>
        </div>
    </div>
</div>