﻿<div id="deleteComponentModel" class="modal fade" role="dialog">
    <div class="modal-dialog">
        @*Modal content*@
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete component</h4>
            </div>
            <div class="modal-body">
                <h3>Are you sure you want to delete this component model and all associated components?</h3>
                @*Triggers ajax-call*@
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "deletecomponentmodel-form" }))
                {
                    @*For component model id*@
                    @Html.Hidden("DeleteComponentModelId");
                    <input type="submit" value="Delete" class="btn btn-danger component-submit" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                }
            </div>
        </div>
    </div>
</div>