﻿@model EmbeddedStockAdmin.Web.Models.EditComponentModelViewModel
<div class="form-group col-md-6 col-xs-12">
    <div>
        @Html.Label("Serial number")
    </div>
    <div>
        @Html.TextBox("SerialNbr", Model.SerialNbr, new { @class = "form-control" })
    </div>
</div>
<div class="form-group col-md-6 col-xs-12">
    <div>
        @Html.Label("Component name")
    </div>
    <div>
        @Html.TextBox("ComponentName", Model.ComponentName, new { @class = "form-control" })
    </div>
</div>
<div class="form-group col-md-6 col-xs-12">
    <div>
        @Html.Label("Category")
    </div>
    <div>
        @Html.TextBox("Category", Model.Category, new { @class = "form-control" })
    </div>
</div>
<div class="form-group col-md-6 col-xs-12">
    <div>
        @Html.Label("Datasheet")
    </div>
    <div>
        @Html.TextBox("Datasheet", Model.Datasheet, new { @class = "form-control" })
    </div>
</div>
<div class="form-group col-md-6 col-xs-12">
    <div>
        @Html.Label("Manufacturer link")
    </div>
    <div>
        @Html.TextBox("ManufacturerLink", Model.ManufacturerLink, new { @class = "form-control" })
    </div>
</div>
<div class="form-group col-md-6 col-xs-12">
    <div>
        @Html.Label("Comment (Admin)")
    </div>
    <div>
        @Html.TextArea("AdminComment", Model.AdminComment, new { @class = "form-control" })
    </div>
</div>
<div class="form-group col-md-6 col-xs-12">
    <div>
        @Html.Label("Comment (User)")
    </div>
    <div>
        @Html.TextArea("UserComment", Model.UserComment, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <div>
        @Html.Label("Image")
    </div>
</div>
