﻿@*Edit componentmodel modal*@
<div id="editComponentModel" class="modal fade" role="dialog">
    <div class="modal-dialog">
        @*Modal content*@
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit component</h4>
            </div>
            <div class="modal-body">
                @*Triggers ajax-call*@
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "editcomponentmodel-form" }))
                {
                    @Html.Hidden("EditComponentModelId");
                    <div id="editcomponentmodel-partial"></div>
                    <input type="submit" value="Edit" class="btn btn-warning component-submit" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                }
            </div>
        </div>
    </div>
</div>