﻿@model List<EmbeddedStockAdmin.Web.Models.ComponentSummaryViewModel>
@using EmbeddedStockAdmin.Web.Models;

<h2>Category: @ViewBag.Category</h2>

@if (Model.Count == 0)
{
    <h4>No components in the database. Yet...</h4>
}
else
{
    @Html.Partial("~/Views/Component/_Components.cshtml", Model);
}

@*Include modal html*@
@Html.Partial("~/Views/Component/_CreateComponentModelModal.cshtml", new ComponentModelViewModel())
@Html.Partial("~/Views/Component/_DeleteComponentModelModal.cshtml", null)
