﻿@model List<EmbeddedStockAdmin.Web.Models.ComponentViewModel>
@using EmbeddedStockAdmin.Web.Models;

<h2>Loaned components</h2>

@if (Model.Count == 0)
{
    <h4>No components in the database. Yet...</h4>
}
else
{
    <div class="well">
        @foreach (var component in Model)
        {
            <div class="row">
                <div class="col-xs-3">
                    <h4> @component.ComponentName </h4>
                </div>
                <div class="col-xs-8 pull-right">
                    @Html.Partial("~/Views/Component/_ComponentModal.cshtml", component)
                </div>
            </div>
            <hr />
        }
    </div>
}

@*Include modal html*@
@Html.Partial("~/Views/Component/_CRUDComponentsModal.cshtml", null)