﻿
@{ 

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="site">
        <div id="header">
            @Html.Partial("~/Views/Shared/_MenuBar.cshtml", null)
        </div>
        <div class="container">
            <div class="row panel">
                <div id="navigation" class="col-xs-3">
                    @Html.Partial("~/Views/Shared/_NavigationBar.cshtml")
                </div>
                <div id="content" class="col-xs-8">
                    @RenderBody()
                    @Html.Partial("~/Views/Shared/_Footer.cshtml", null)
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
