﻿<div class="navbar navbar-default navbar-fixed-top" style="margin-bottom: 10px">
    <div class="container">
        <div class="navbar-header">
            <img class="navbar-brand" alt="Embedded Stock" src="~/Images/au-logo.png">
            @Html.ActionLink("Embedded Stock", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <div class="col-sm-3 col-md-4">
                @using (Html.BeginForm("Search", "Navigation", FormMethod.Post, new { @class = "navbar-form", @role = "search" }))
                {
                    <div class="input-group">
                        @Html.TextBox("SearchString", null, new { @class = "form-control", @placeholder = "Search categories" })
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                }
            </div>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>