﻿@*Category dropdown*@
<div class="btn-group-lg">
    @Html.ActionLink("Components", "Index", "Component", null, new { @class = "btn btn-block btn-default btn-lg" })
    <div class="btn-group-lg">
        <button type="button" class="btn btn-block btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
            Category <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            @Html.Action("Menu", "Navigation")
        </ul>
    </div>
    @Html.ActionLink("Loaned components", "Loaned", "Component", null, new { @class = "btn btn-block btn-default btn-lg" })
</div>
